@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

@media screen and (max-width: 3000px) {
  .col.l1 {
    width: 8.33333%; } }

@media screen and (max-width: 1068px) {
  .col.m1 {
    width: 8.33333%; } }

@media screen and (max-width: 735px) {
  .col.s1 {
    width: 8.33333%; } }

@media screen and (max-width: 3000px) {
  .col.l2 {
    width: 16.66667%; } }

@media screen and (max-width: 1068px) {
  .col.m2 {
    width: 16.66667%; } }

@media screen and (max-width: 735px) {
  .col.s2 {
    width: 16.66667%; } }

@media screen and (max-width: 3000px) {
  .col.l3 {
    width: 25%; } }

@media screen and (max-width: 1068px) {
  .col.m3 {
    width: 25%; } }

@media screen and (max-width: 735px) {
  .col.s3 {
    width: 25%; } }

@media screen and (max-width: 3000px) {
  .col.l4 {
    width: 33.33333%; } }

@media screen and (max-width: 1068px) {
  .col.m4 {
    width: 33.33333%; } }

@media screen and (max-width: 735px) {
  .col.s4 {
    width: 33.33333%; } }

@media screen and (max-width: 3000px) {
  .col.l5 {
    width: 41.66667%; } }

@media screen and (max-width: 1068px) {
  .col.m5 {
    width: 41.66667%; } }

@media screen and (max-width: 735px) {
  .col.s5 {
    width: 41.66667%; } }

@media screen and (max-width: 3000px) {
  .col.l6 {
    width: 50%; } }

@media screen and (max-width: 1068px) {
  .col.m6 {
    width: 50%; } }

@media screen and (max-width: 735px) {
  .col.s6 {
    width: 50%; } }

@media screen and (max-width: 3000px) {
  .col.l7 {
    width: 58.33333%; } }

@media screen and (max-width: 1068px) {
  .col.m7 {
    width: 58.33333%; } }

@media screen and (max-width: 735px) {
  .col.s7 {
    width: 58.33333%; } }

@media screen and (max-width: 3000px) {
  .col.l8 {
    width: 66.66667%; } }

@media screen and (max-width: 1068px) {
  .col.m8 {
    width: 66.66667%; } }

@media screen and (max-width: 735px) {
  .col.s8 {
    width: 66.66667%; } }

@media screen and (max-width: 3000px) {
  .col.l9 {
    width: 75%; } }

@media screen and (max-width: 1068px) {
  .col.m9 {
    width: 75%; } }

@media screen and (max-width: 735px) {
  .col.s9 {
    width: 75%; } }

@media screen and (max-width: 3000px) {
  .col.l10 {
    width: 83.33333%; } }

@media screen and (max-width: 1068px) {
  .col.m10 {
    width: 83.33333%; } }

@media screen and (max-width: 735px) {
  .col.s10 {
    width: 83.33333%; } }

@media screen and (max-width: 3000px) {
  .col.l11 {
    width: 91.66667%; } }

@media screen and (max-width: 1068px) {
  .col.m11 {
    width: 91.66667%; } }

@media screen and (max-width: 735px) {
  .col.s11 {
    width: 91.66667%; } }

@media screen and (max-width: 3000px) {
  .col.l12 {
    width: 100%; } }

@media screen and (max-width: 1068px) {
  .col.m12 {
    width: 100%; } }

@media screen and (max-width: 735px) {
  .col.s12 {
    width: 100%; } }

@font-face {
  font-family: "pingguo";
  src: url(font/iconfont.woff) format("woff"); }

@font-face {
  font-family: "xi";
  src: url(font/myriad-set-pro_extrathin.woff) format("woff"); }

@font-face {
  font-family: "fangdajing";
  src: url(font/fangdajing.woff) format("woff"); }

@font-face {
  font-family: "cu";
  src: url(font/myriad-set-pro_semibold.woff) format("woff"); }

@font-face {
  font-family: "zhengchang";
  src: url(font/myriad-set-pro_text.woff) format("woff"); }

@font-face {
  font-family: "jixi";
  src: url(font/myriad-set-pro_thin.woff) format("woff"); }

.xi {
  font-family: "xi"; }

.cu {
  font-family: "cu"; }

.zhengchang {
  font-family: "zhengchang"; }

.jixi {
  font-family: "jixi"; }

.tubiao {
  font-family: "pingguo";
  font-style: normal; }

.guoguo::before {
  content: "\e6d6"; }

.kongguoguo::before {
  content: "\e60a"; }

.row {
  position: relative; }

.row::after {
  content: "";
  clear: both;
  display: none;
  height: 0;
  line-height: 0; }

body {
  overflow-x: hidden; }

.ding_hezi {
  position: relative;
  z-index: 20000000000000000000000000000;
  width: 100%;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.8); }

.ding_hezi::after {
  content: "";
  width: 0;
  height: 0;
  clear: both;
  display: none; }

.ding-nei2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none; }
  .ding-nei2 .ding-nei2-a {
    position: relative;
    width: 48px;
    height: 48px;
    float: left; }
    .ding-nei2 .ding-nei2-a .shang {
      width: 40%;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 20px;
      transition: all 0.7s ease;
      transform-origin: 70%; }
    .ding-nei2 .ding-nei2-a .xia {
      width: 40%;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 20px;
      transition: all 0.7s ease;
      transform-origin: 70%; }
  .ding-nei2 .ding-nei2-a.bian .shang {
    transform: rotateZ(-45deg); }
  .ding-nei2 .ding-nei2-a.bian .xia {
    transform: rotateZ(45deg); }
  .ding-nei2 .ding-nei2-b {
    width: 48px;
    height: 48px;
    background: url("img/apple.svg") no-repeat center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px; }
  .ding-nei2 .ding-nei2-c {
    transition: transform .6s ease;
    width: 48px;
    height: 48px;
    background: url("img/gouwudai.svg") no-repeat center center;
    float: right;
    width: 50px; }
  .ding-nei2 .ding-nei2-c.chu {
    transform: translateX(100%); }

.ding-nei2.neibian2 {
  background: black; }

.ding-nei {
  max-width: 1068px;
  height: 44px;
  margin: 0 auto;
  position: relative;
  padding: 0 8px;
  box-sizing: border-box; }
  .ding-nei ul {
    width: 100%;
    height: 100%;
    text-align: justify; }
    .ding-nei ul .maokeng {
      width: 100%;
      height: 0; }
  .ding-nei li {
    display: inline-block;
    line-height: 44px;
    padding: 0 5px;
    transition: all 0.5s ease;
    height: 44px; }
    .ding-nei li a {
      font-family: "cu";
      color: #fff; }
    .ding-nei li span {
      font-size: 0;
      line-height: 0; }
  .ding-nei .apple {
    background: url("img/apple.svg") no-repeat center center;
    width: 40px; }
  .ding-nei .Mac {
    background: url("img/Mac.svg") no-repeat center center;
    width: 51px; }
  .ding-nei .ipad {
    background: url("img/ipad.svg") no-repeat center center;
    width: 50px; }
  .ding-nei .iphone {
    background: url("img/iphone.svg") no-repeat center center;
    width: 68px; }
  .ding-nei .Watch {
    background: url("img/Watch.svg") no-repeat center center;
    width: 64px; }
  .ding-nei .TV {
    background: url("img/TV.svg") no-repeat center center;
    width: 40px; }
  .ding-nei .Music {
    background: url("img/Music.svg") no-repeat center center;
    width: 60px; }
  .ding-nei .Support {
    background: url("img/Support.svg") no-repeat center center;
    width: 77px; }
  .ding-nei .fangdajing {
    background: url("img/fangdajing.svg") no-repeat center center;
    width: 40px; }
  .ding-nei .gouwudai {
    background: url("img/gouwudai.svg") no-repeat center center;
    width: 38px; }
  .ding-nei li:hover {
    opacity: 0.8; }
  .ding-nei .uailou.shouqi li:nth-child(2) {
    transform: scale3d(0.1, 0.1, 0);
    opacity: 0; }
  .ding-nei .uailou.shouqi li:nth-child(3) {
    transform: scale3d(0.1, 0.1, 0);
    opacity: 0; }
  .ding-nei .uailou.shouqi li:nth-child(4) {
    transform: scale3d(0.1, 0.1, 0);
    opacity: 0; }
  .ding-nei .uailou.shouqi li:nth-child(5) {
    transform: scale3d(0.1, 0.1, 0);
    opacity: 0; }
  .ding-nei .uailou.shouqi li:nth-child(6) {
    transform: scale3d(0.1, 0.1, 0);
    opacity: 0; }
  .ding-nei .uailou.shouqi li:nth-child(7) {
    transform: scale3d(0.1, 0.1, 0);
    opacity: 0; }
  .ding-nei .uailou.shouqi li:nth-child(8) {
    transform: scale3d(0.1, 0.1, 0);
    opacity: 0; }
  .ding-nei .uailou.shouqi li:nth-child(9) {
    transform: scale3d(0.1, 0.1, 0);
    opacity: 0; }
  .ding-nei .uailou.shouqi li:nth-child(10) {
    background: url("img/捕获.PNG") no-repeat center center; }
  .ding-nei .uailou.shouqi .sousuoxiala {
    display: block; }
  .ding-nei .uailou.shouqi .ding_hezi::after {
    display: block; }
  .ding-nei .sousuo {
    position: relative;
    z-index: 8000000;
    width: 50%;
    height: 44px;
    transform: translateX(100px);
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .ding-nei .sousuo .fangda {
      width: 44px;
      height: 44px;
      background: url("img/fangdajing.svg") no-repeat center center;
      float: left; }
    .ding-nei .sousuo input {
      width: 90%;
      height: 100%;
      box-sizing: border-box;
      border: 0;
      outline: medium;
      font-family: "xi";
      font-size: 20px;
      float: right;
      background-color: transparent;
      color: #666; }
    .ding-nei .sousuo .fangdajingjing {
      padding: 20px 40px;
      box-sizing: border-box;
      width: 100%;
      height: 230px;
      background: #fff;
      margin-top: 44px;
      position: relative;
      z-index: 10000; }
      .ding-nei .sousuo .fangdajingjing p {
        font-family: "xi";
        color: #666;
        font-size: 12px; }
      .ding-nei .sousuo .fangdajingjing .sssaaa {
        float: left;
        width: 98%;
        height: 80%;
        top: 40px;
        left: 5px;
        position: absolute; }
        .ding-nei .sousuo .fangdajingjing .sssaaa li {
          width: 98%;
          height: 20%; }
        .ding-nei .sousuo .fangdajingjing .sssaaa li:hover {
          background: rgba(0, 0, 0, 0.2);
          color: deepskyblue; }
      .ding-nei .sousuo .fangdajingjing .sssou {
        padding: 0px 20px;
        box-sizing: border-box;
        width: 100%;
        height: 100%; }
        .ding-nei .sousuo .fangdajingjing .sssou li {
          opacity: 0;
          transform: translateX(100%);
          display: block;
          height: 20%;
          font-family: "xi";
          font-size: 12px;
          color: #666; }
        .ding-nei .sousuo .fangdajingjing .sssou .lichuxian {
          opacity: 1;
          transform: translateX(0); }
  .ding-nei .sousuo.chuxian {
    transition: all 0.5s ease;
    transform: translateX(0);
    opacity: 1; }
    .ding-nei .sousuo.chuxian li:nth-child(1) {
      transition-delay: 0.2s; }
    .ding-nei .sousuo.chuxian li:nth-child(2) {
      transition-delay: 0.4s; }
    .ding-nei .sousuo.chuxian li:nth-child(3) {
      transition-delay: 0.6s; }
    .ding-nei .sousuo.chuxian li:nth-child(4) {
      transition-delay: 0.8s; }
    .ding-nei .sousuo.chuxian li:nth-child(5) {
      transition-delay: 1s; }

.shangdezuihou {
  padding: 50px 80px;
  box-sizing: border-box;
  width: 100%;
  height: 580px;
  background: black;
  opacity: 0;
  transition: opacity 0.5s ease,transform 3.5s ease; }
  .shangdezuihou a {
    display: block;
    font-family: "xi";
    font-size: 25px;
    color: #fff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #444;
    transform: translateX(-30px) translateY(-1000px); }

.shangdezuihou.shangzh1 a:nth-child(1) {
  transition-delay: 0.5s;
  transform: translateX(0) translateY(0); }

.shangdezuihou.shangzh1 a:nth-child(2) {
  transition-delay: 1s;
  transform: translateX(0) translateY(0); }

.shangdezuihou.shangzh1 a:nth-child(3) {
  transition-delay: 1.5s;
  transform: translateX(0) translateY(0); }

.shangdezuihou.shangzh1 a:nth-child(4) {
  transition-delay: 2s;
  transform: translateX(0) translateY(0); }

.shangdezuihou.shangzh1 a:nth-child(5) {
  transition-delay: 2.5s;
  transform: translateX(0) translateY(0); }

.shangdezuihou.shangzh1 a:nth-child(6) {
  transition-delay: 3s;
  transform: translateX(0) translateY(0); }

.shangdezuihou.shangzh1 a:nth-child(7) {
  transition-delay: 3.5s;
  transform: translateX(0) translateY(0); }

@media screen and (max-width: 880px) {
  .ding_hezi {
    height: 48px; }
    .ding_hezi .ding-nei {
      display: none; }
    .ding_hezi .ding-nei2 {
      display: block; }
  .shangdezuihou {
    display: none; } }

.chunhei {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 1000px;
  background: black;
  transform: translateY(-1000px);
  opacity: 0; }
  @media screen and (min-width: 880px) {
    .chunhei {
      display: none; } }
  .chunhei ul {
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    height: 630px; }
    .chunhei ul .chun {
      width: 100%;
      height: 50px;
      font-family: "xi";
      font-size: 25px;
      color: #fff;
      line-height: 50px;
      border-bottom: 1px solid deepskyblue;
      transform: translateY(-500px);
      opacity: 0; }
      .chunhei ul .chun a {
        color: #fff; }
  .chunhei .chun.chu {
    transition: all 0.3s ease;
    transform: translateY(0);
    opacity: 1; }
    .chunhei .chun.chu:nth-child(1) {
      transition-delay: 0.1s; }
    .chunhei .chun.chu:nth-child(2) {
      transition-delay: 0.2s; }
    .chunhei .chun.chu:nth-child(3) {
      transition-delay: 0.3s; }
    .chunhei .chun.chu:nth-child(4) {
      transition-delay: 0.4s; }
    .chunhei .chun.chu:nth-child(5) {
      transition-delay: 0.5s; }
    .chunhei .chun.chu:nth-child(6) {
      transition-delay: 0.6s; }
    .chunhei .chun.chu:nth-child(7) {
      transition-delay: 0.7s; }

.chunhei.ch {
  transition: all 0.5s ease;
  transform: translateY(0);
  opacity: 1; }

.banner-box {
  overflow: hidden;
  width: 100%;
  height: 650px;
  position: relative; }
  @media screen and (max-width: 880px) {
    .banner-box {
      height: 490px; } }
  .banner-box a {
    display: block;
    width: 100%;
    height: 650px;
    position: absolute;
    background-size: 100% 100%; }
    @media screen and (max-width: 880px) {
      .banner-box a {
        height: 490px; } }
  .banner-box a:nth-child(1) {
    background: url("img/1da.jpg") no-repeat bottom center; }
    @media screen and (max-width: 880px) {
      .banner-box a:nth-child(1) {
        background: url("img/1xiao.jpg") no-repeat center center; } }
  .banner-box a:nth-child(2) {
    background: url("img/2da.png") no-repeat bottom center; }
    @media screen and (max-width: 880px) {
      .banner-box a:nth-child(2) {
        background: url("img/2xiao.png") no-repeat center center; } }
  .banner-box a:nth-child(3) {
    background: url("img/3da.jpg") no-repeat bottom center; }
    @media screen and (max-width: 880px) {
      .banner-box a:nth-child(3) {
        background: url("img/3xiao.jpg") no-repeat center center; } }
  .banner-box a:nth-child(4) {
    background: url("img/4da.jpg") no-repeat bottom center; }
    @media screen and (max-width: 880px) {
      .banner-box a:nth-child(4) {
        background: url("img/4xiao.jpg") no-repeat center center; } }
  .banner-box .zuo, .banner-box .you {
    width: 67px;
    height: 128px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }
  .banner-box .zuo {
    background: url("img/2016-07-24_162140.jpg") no-repeat center center;
    left: 20px; }
    @media screen and (max-width: 880px) {
      .banner-box .zuo {
        display: none; } }
  .banner-box .you {
    background: url("img/2016-07-24_162302.jpg") no-repeat center center;
    right: 20px; }
    @media screen and (max-width: 880px) {
      .banner-box .you {
        display: none; } }
  .banner-box .xia {
    width: 112px;
    height: 8px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 30px;
    text-align: justify; }
    .banner-box .xia .dian {
      width: 8px;
      height: 8px;
      background: #666;
      border: 1px solid #666;
      float: left;
      border-radius: 50%;
      display: inline-block;
      margin: 8px; }
    .banner-box .xia .dian.quan {
      background: #fff;
      border: 1px solid deepskyblue; }

@media screen and (max-width: 880px) {
  .xiading {
    height: 500px; }
  .xiadingd {
    height: 5px; } }

.xiadingd {
  height: 100px; }

.xiabubu {
  display: block;
  height: 200px;
  background: red;
  float: left;
  border: 1px solid #fff;
  box-sizing: border-box; }

.chaa a:nth-child(1) {
  background: url("img/1.jpg") no-repeat center center; }

@media screen and (max-width: 880px) {
  .chaa a:nth-child(1) {
    background: url("img/11.jpg") no-repeat center center; } }

.chaa a:nth-child(2) {
  background: url("img/2.jpg") no-repeat center center; }

@media screen and (max-width: 880px) {
  .chaa a:nth-child(2) {
    background: url("img/22.jpg") no-repeat center center; } }

.chaa a:nth-child(3) {
  background: url("img/3.jpg") no-repeat center center; }

@media screen and (max-width: 880px) {
  .chaa a:nth-child(3) {
    background: url("img/33.jpg") no-repeat center center; } }

.chaa a:nth-child(4) {
  background: url("img/4.jpg") no-repeat center center; }

@media screen and (max-width: 880px) {
  .chaa a:nth-child(4) {
    background: url("img/44.jpg") no-repeat center center; } }

.chaa {
  width: 100%;
  height: 200px;
  background: black; }

.chaa::after {
  content: "";
  clear: both;
  width: 100%;
  height: auto; }

.dibuhezi {
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
  height: 368px;
  padding: 30px 200px;
  border-top: 1px solid #fff;
  box-sizing: border-box; }
  .dibuhezi ul {
    width: 18%;
    height: 70%;
    float: left;
    margin-left: 1%; }
    .dibuhezi ul span {
      font-family: "cu";
      font-size: 5px;
      color: #666; }
    .dibuhezi ul li {
      font-family: "xi";
      font-size: 5px;
      color: #525e66; }
  .dibuhezi .dididi {
    width: 78%;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0; }
  .dibuhezi .dididi1 {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #666; }
    .dibuhezi .dididi1 li {
      color: #666;
      font-size: 8px;
      font-family: "cu"; }
      .dibuhezi .dididi1 li a {
        color: deepskyblue;
        font-family: "cu";
        font-size: 8px; }
  .dibuhezi .dididi2 {
    width: 100%;
    height: 50%; }
    .dibuhezi .dididi2 li {
      color: #666;
      font-size: 8px;
      font-family: "cu";
      float: left; }
      .dibuhezi .dididi2 li a {
        margin: 10px;
        color: #666;
        font-size: 8px;
        font-family: "cu"; }
    .dibuhezi .dididi2 .guoqi {
      width: 150px;
      height: 30px;
      float: right; }

.dibuhezixiangyingshi {
  margin-top: 10px;
  width: 100%;
  height: 194px;
  display: none; }

@media screen and (max-width: 1065px) {
  .dibuhezi {
    display: none; }
  .dibuhezixiangyingshi {
    display: block; } }

@media screen and (max-width: 735px) {
  .dibuhezixiangyingshi {
    margin-top: 304px;
    width: 100%;
    height: 300px;
    display: block; } }

.dbxy {
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
  padding: 5% 5%;
  box-sizing: border-box;
  display: none; }
  .dbxy .lie {
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    transition: all 1s ease; }
    .dbxy .lie span {
      display: block;
      height: 40px;
      font-family: "xi";
      font-size: 14px;
      color: #333;
      line-height: 40px; }
    .dbxy .lie li {
      height: 30px;
      line-height: 30px;
      font-family: "xi";
      font-size: 10px;
      color: #666; }
      .dbxy .lie li:hover {
        text-decoration: underline; }
    .dbxy .lie::after {
      content: "";
      clear: both; }
    .dbxy .lie .xyclose {
      display: block;
      width: 30px;
      height: 30px;
      background: url("img/2016-07-24_193516.jpg") no-repeat center center;
      float: right;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.6s ease; }
    .dbxy .lie .xyclose.chazhuan {
      transform: rotateZ(45deg); }
  .dbxy .lie.chuxian {
    padding-bottom: 40px;
    transition: all 1s ease; }
  .dbxy .xylianjie {
    width: 100%;
    height: auto; }
    .dbxy .xylianjie ul {
      border: none; }
      .dbxy .xylianjie ul li {
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        color: #666;
        font-family: "xi"; }
      .dbxy .xylianjie ul a {
        font-size: 10px;
        color: #666;
        font-family: "cu"; }
        .dbxy .xylianjie ul a:hover {
          text-decoration: underline; }
    .dbxy .xylianjie .guoqi {
      width: 100%;
      height: auto;
      padding-bottom: 20px; }
      .dbxy .xylianjie .guoqi span {
        margin-left: 1%;
        font-size: 12px;
        color: #666;
        font-family: "zitizhengc"; }
    .dbxy .xylianjie .disp {
      width: 100%;
      height: auto; }
      .dbxy .xylianjie .disp span {
        color: #999;
        font-family: "zitizhengc";
        font-size: 12px; }
    .dbxy .xylianjie .last {
      width: 100%;
      height: auto; }
      .dbxy .xylianjie .last ul {
        width: 100%;
        text-align: justify; }
      .dbxy .xylianjie .last .zzhh {
        height: auto;
        line-height: 20px;
        font-family: "zitixi";
        float: left;
        font-size: 15px; }
        .dbxy .xylianjie .last .zzhh a {
          font-size: 10px;
          color: #666;
          font-family: "zitizhengc";
          margin: 0 10px; }
          .dbxy .xylianjie .last .zzhh a:hover {
            text-decoration: underline; }
      .dbxy .xylianjie .last .dagezi {
        display: inline-block;
        width: 100%;
        height: 1px;
        display: none; }

@media screen and (max-width: 1065px) {
  .dbxy {
    display: block; } }

@media screen and (max-width: 586px) {
  .dideguoqi {
    height: 400px; } }

.shangdezuihou.shangzh1 {
  position: relative;
  z-index: 20000000; }

.meiyou.meile {
  width: 100%;
  height: auto;
  display: none; }

.shangshangshang, .zhongzhongzhong, .xiaxiaxia, .dididi {
  width: 100%;
  height: auto;
  position: relative; }

.shangshangshang.meile {
  display: none; }

.zhongzhongzhong.meile {
  display: none; }

.xiaxiaxia.meile {
  display: none; }

.xiamianla {
  width: 100%;
  height: 730px;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  left: 0;
  top: 44px; }
